In [38]:
import pandas as pd

In [39]:
print( list(dir(pd)) )

['BooleanDtype', 'Categorical', 'CategoricalDtype', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'DatetimeTZDtype', 'ExcelFile', 'ExcelWriter', 'Flags', 'Float32Dtype', 'Float64Dtype', 'Float64Index', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int16Dtype', 'Int32Dtype', 'Int64Dtype', 'Int64Index', 'Int8Dtype', 'Interval', 'IntervalDtype', 'IntervalIndex', 'MultiIndex', 'NA', 'NaT', 'NamedAgg', 'Period', 'PeriodDtype', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseDtype', 'StringDtype', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt16Dtype', 'UInt32Dtype', 'UInt64Dtype', 'UInt64Index', 'UInt8Dtype', '__builtins__', '__cached__', '__doc__', '__docformat__', '__file__', '__getattr__', '__git_version__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_config', '_hashtable', '_is_numpy_dev', '_lib', '_libs', '_np_version_under1p18', '_testing', '_tslib', '_typing', '_version', 'api', 'array', 'arrays', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'describe_option', 'errors', 'eval', 'factorize', 'get_dummies', 'get_option', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'json_normalize', 'lreshape', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'offsets', 'option_context', 'options', 'pandas', 'period_range', 'pivot', 'pivot_table', 'plotting', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_orc', 'read_parquet', 'read_pickle', 'read_sas', 'read_spss', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'read_xml', 'reset_option', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_numeric', 'to_pickle', 'to_timedelta', 'tseries', 'unique', 'util', 'value_counts', 'wide_to_long']

In [40]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit           : 945c9ed766a61c7d2c0a7cbb251b6edebf9cb7d5
python           : 3.9.7.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.18363
machine          : AMD64
processor        : Intel64 Family 6 Model 142 Stepping 12, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : English_United States.1252

pandas           : 1.3.4
numpy            : 1.20.3
pytz             : 2021.3
dateutil         : 2.8.2
pip              : 21.2.4
setuptools       : 58.0.4
Cython           : 0.29.24
pytest           : 6.2.4
hypothesis       : None
sphinx           : 4.2.0
blosc            : None
feather          : None
xlsxwriter       : 3.0.1
lxml.etree       : 4.6.3
html5lib         : 1.1
pymysql          : None
psycopg2         : None
jinja2           : 2.11.3
IPython          : 7.29.0
pandas_datareader: None
bs4              : 4.10.0
bottleneck       : 1.3.2
fsspec           : 2021.10.1
fastparquet      : None
gcsfs            : None
matplotlib       : 3.4.3
numexpr          : 2.7.3
odfpy            : None
openpyxl         : 3.0.9
pandas_gbq       : None
pyarrow          : None
pyxlsb           : None
s3fs             : None
scipy            : 1.7.1
sqlalchemy       : 1.4.22
tables           : 3.6.1
tabulate         : None
xarray           : None
xlrd             : 2.0.1
xlwt             : 1.3.0
numba            : 0.54.1

In [41]:
pd.__version__

'1.3.4'

In [42]:
s=pd.Series(["Ind","AUS","NZ","US"])

In [43]:
len(s)

4

In [44]:
type(s)

pandas.core.series.Series

In [45]:
s=pd.Series(["Ind","AUS","NZ","US"],index=['a','b','c','d'])

In [46]:
s.head()

a    Ind
b    AUS
c     NZ
d     US
dtype: object

In [47]:
country=["Ind","AUS","NZ","US"]
cost=[100,299,999,333]

In [48]:
Sales=pd.Series(cost, index=country)

In [49]:
#Creating a pandas series with tuples
country=("Ind","AUS","NZ","US")
cost=(100,299,999,333)

In [50]:
pd.Series(cost, index=country)

Ind    100
AUS    299
NZ     999
US     333
dtype: int64

In [51]:
#Creating a pandas series with dictionary
dicty={"Ind":100,"AUS":300,"NZ":88888,"US":50000}

In [52]:
pd.Series(dicty) #by default dict keys are considered as labels in the series

Ind      100
AUS      300
NZ     88888
US     50000
dtype: int64

### DataFrame

In [53]:
EmployeeData={'ID':[101,102,103]
              ,"name":["Dan","Ben","Paxton"]
             ,'age':(34,24,26)
              ,'city':['LA','California','Fuji']
             }

In [54]:
EMPDF=pd.DataFrame(EmployeeData)

In [55]:
EMPDF=pd.DataFrame(EmployeeData,index=('a','b','c'))

In [56]:
mydict={"name":"Daniel","age":33}

In [57]:
pd.DataFrame(mydict,index=['a']) #If using all scalar values, you must pass an index

     name  age
a  Daniel   33

In [58]:
mydict1={"name":["Daniel"],"age":[33]} #alt to create DF with scalar val without specificying index

In [59]:
pd.DataFrame(mydict1)

     name  age
0  Daniel   33

In [60]:
#Empty Dataframe
df=pd.DataFrame()

In [61]:
#Insert data in an empty df
Columndata=["ID","EMP","Salary","Exp"]
df=pd.DataFrame(columns=Columndata)
df

Empty DataFrame
Columns: [ID, EMP, Salary, Exp]
Index: []

In [62]:
#you can append values from dict to df only if ignore_index is true
df=df.append({"EMP":"Daniel","age":33,"Salary":5000,"city":"NY"},ignore_index=True)

In [63]:
df=df.append({"ID":101,"EMP":"Gabriel","age":33,"Salary":50090,"city":"LA"},ignore_index=True)

In [64]:
df1=pd.DataFrame()

In [65]:
df1['ID']=[101,103,104]
df1["Emp"]=["A","B","C"]
df1["Exp"]=[2,3,4]
df1

    ID Emp  Exp
0  101   A    2
1  103   B    3
2  104   C    4

In [66]:
df3=pd.DataFrame(columns=["Emp","Salary","Grade"],index=['a','b','c'])

In [67]:
df3

   Emp Salary Grade
a  NaN    NaN   NaN
b  NaN    NaN   NaN
c  NaN    NaN   NaN

In [68]:
df3["Emp"]=["Rohan","Nakul","Aryan"]

In [69]:
df3

     Emp Salary Grade
a  Rohan    NaN   NaN
b  Nakul    NaN   NaN
c  Aryan    NaN   NaN

In [70]:
#DF with list of lists
df4=pd.DataFrame([[1,2,3],[3,4,6],[5,6,8]],columns=list("ABC"))

In [71]:
df4

   A  B  C
0  1  2  3
1  3  4  6
2  5  6  8

## Importing Data with pandas

In [72]:
import os

In [73]:
os.getcwd()

'C:\\Users\\akshaya.srikanth\\Desktop\\Python\\virtual environment\\Python-Topics'

In [74]:
os.chdir(r"C:\Users\akshaya.srikanth\Desktop\Python\virtual environment\Python-Topics\RawData-main")

In [75]:
os.listdir()

['.ipynb_checkpoints',
 'AutoDataset.csv',
 'clothes.sas7bdat',
 'CombinedData.xlsx',
 'Data.csv',
 'fixed Data.txt',
 'gnp.sas7bdat',
 'HLTH1025_2016.sav',
 'insurance.txt',
 'iris.json',
 'Order.xlsx',
 'Pandas append and concat raw data.xlsx',
 'Pandas Pivot Table with Visualization Tutorial.ipynb',
 'Quantitve.base',
 'Random Sales Data.xlsx',
 'Random Sales Data1.xlsx',
 'Sales Order.xlsx',
 'SalesData.csv',
 'Sample.csv',
 'Splited Raw Data.xlsx',
 'Superstore.xls',
 'test.txt',
 'unbill_data.csv']

In [76]:
df=pd.read_csv("AutoDataset.csv")

In [77]:
df.head() # gives top 5 rows

,Row ID,Order ID,Ship Date,Customer Name,Country,City,State,Category,Sub-Category,Product Name,Sales
0,2314,CA-2017-122035,7/25/2017,Elizabeth Moffitt,United States,Sioux Falls,South Dakota,Office Supplies,Labels,Avery 486,14.62
1,2315,CA-2017-122035,7/25/2017,Elizabeth Moffitt,United States,Sioux Falls,South Dakota,Office Supplies,Appliances,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",416.32
2,2316,CA-2017-122035,7/25/2017,Elizabeth Moffitt,United States,Sioux Falls,South Dakota,Office Supplies,Binders,Avery Printable Repositionable Plastic Tabs,43.00
3,2317,CA-2017-122035,7/25/2017,Elizabeth Moffitt,United States,Sioux Falls,South Dakota,Furniture,Chairs,Novimex Fabric Task Chair,182.94
4,2318,CA-2017-122035,7/25/2017,Elizabeth Moffitt,United States,Sioux Falls,South Dakota,Office Supplies,Binders,Cardinal Slant-D Ring Binders,60.83

In [78]:
pd.read_csv?

In [79]:
## without header
df1=pd.read_csv("AutoDataset.csv",header=None)
df1

,0,1,2,3,4,5,6,7,8,9,10
0,Row ID,Order ID,Ship Date,Customer Name,Country,City,State,Category,Sub-Category,Product Name,Sales
1,2314,CA-2017-122035,7/25/2017,Elizabeth Moffitt,United States,Sioux Falls,South Dakota,Office Supplies,Labels,Avery 486,14.62
2,2315,CA-2017-122035,7/25/2017,Elizabeth Moffitt,United States,Sioux Falls,South Dakota,Office Supplies,Appliances,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",416.32
3,2316,CA-2017-122035,7/25/2017,Elizabeth Moffitt,United States,Sioux Falls,South Dakota,Office Supplies,Binders,Avery Printable Repositionable Plastic Tabs,43
4,2317,CA-2017-122035,7/25/2017,Elizabeth Moffitt,United States,Sioux Falls,South Dakota,Furniture,Chairs,Novimex Fabric Task Chair,182.94
5,2318,CA-2017-122035,7/25/2017,Elizabeth Moffitt,United States,Sioux Falls,South Dakota,Office Supplies,Binders,Cardinal Slant-D Ring Binders,60.83
6,2319,CA-2017-122035,7/25/2017,Elizabeth Moffitt,United States,Sioux Falls,South Dakota,Technology,Accessories,Logitech G35 7.1-Channel Surround Sound Headset,389.97
7,2856,CA-2017-169810,7/31/2017,Raymond Buch,United States,Sioux Falls,South Dakota,Office Supplies,Labels,Avery 498,20.23
8,3270,CA-2014-115980,7/19/2014,Victoria Wilson,United States,Sioux Falls,South Dakota,Technology,Accessories,Maxell 4.7GB DVD-R 5/Pack,2.97
9,3271,CA-2014-115980,7/19/2014,Victoria Wilson,United States,Sioux Falls,South Dakota,Office Supplies,Fasteners,Advantus Push Pins,6.54
10,8150,CA-2014-167997,1/29/2014,Carol Adams,United States,Rapid City,South Dakota,Office Supplies,Binders,Wilson Jones 14 Line Acrylic Coated Pressboard...,10.68
11,8151,CA-2014-167997,1/29/2014,Carol Adams,United States,Rapid City,South Dakota,Furniture,Bookcases,"Safco Value Mate Series Steel Bookcases, Baked...",141.96
12,9261,CA-2017-167976,11/14/2017,Jeremy Lonsdale,United States,Aberdeen,South Dakota,Office Supplies,Supplies,Acme Titanium Bonded Scissors,25.5

In [80]:
## skip few rows
df1=pd.read_csv("AutoDataset.csv",header=None,skiprows=3)
df1

,0,1,2,3,4,5,6,7,8,9,10
0,2316,CA-2017-122035,7/25/2017,Elizabeth Moffitt,United States,Sioux Falls,South Dakota,Office Supplies,Binders,Avery Printable Repositionable Plastic Tabs,43.00
1,2317,CA-2017-122035,7/25/2017,Elizabeth Moffitt,United States,Sioux Falls,South Dakota,Furniture,Chairs,Novimex Fabric Task Chair,182.94
2,2318,CA-2017-122035,7/25/2017,Elizabeth Moffitt,United States,Sioux Falls,South Dakota,Office Supplies,Binders,Cardinal Slant-D Ring Binders,60.83
3,2319,CA-2017-122035,7/25/2017,Elizabeth Moffitt,United States,Sioux Falls,South Dakota,Technology,Accessories,Logitech G35 7.1-Channel Surround Sound Headset,389.97
4,2856,CA-2017-169810,7/31/2017,Raymond Buch,United States,Sioux Falls,South Dakota,Office Supplies,Labels,Avery 498,20.23
5,3270,CA-2014-115980,7/19/2014,Victoria Wilson,United States,Sioux Falls,South Dakota,Technology,Accessories,Maxell 4.7GB DVD-R 5/Pack,2.97
6,3271,CA-2014-115980,7/19/2014,Victoria Wilson,United States,Sioux Falls,South Dakota,Office Supplies,Fasteners,Advantus Push Pins,6.54
7,8150,CA-2014-167997,1/29/2014,Carol Adams,United States,Rapid City,South Dakota,Office Supplies,Binders,Wilson Jones 14 Line Acrylic Coated Pressboard...,10.68
8,8151,CA-2014-167997,1/29/2014,Carol Adams,United States,Rapid City,South Dakota,Furniture,Bookcases,"Safco Value Mate Series Steel Bookcases, Baked...",141.96
9,9261,CA-2017-167976,11/14/2017,Jeremy Lonsdale,United States,Aberdeen,South Dakota,Office Supplies,Supplies,Acme Titanium Bonded Scissors,25.50

In [81]:
##JSON

In [82]:
pd.read_json('iris.json')

     sepalLength  sepalWidth  petalLength  petalWidth    species
0            5.1         3.5          1.4         0.2     setosa
1            4.9         3.0          1.4         0.2     setosa
2            4.7         3.2          1.3         0.2     setosa
3            4.6         3.1          1.5         0.2     setosa
4            5.0         3.6          1.4         0.2     setosa
..           ...         ...          ...         ...        ...
145          6.7         3.0          5.2         2.3  virginica
146          6.3         2.5          5.0         1.9  virginica
147          6.5         3.0          5.2         2.0  virginica
148          6.2         3.4          5.4         2.3  virginica
149          5.9         3.0          5.1         1.8  virginica

[150 rows x 5 columns]

In [83]:
pd.read_sas("clothes.sas7bdat")

       X      Y
0   8.20  493.0
1   7.39  410.0
2   7.68  451.0
3   9.88  723.0
4   5.65  329.0
5   7.10  432.0
6   5.17  294.0
7   3.34  270.0
8   5.63  311.0
9   1.39  194.0
10  9.30  640.0
11  2.21  217.0
12  2.88  272.0
13  6.94  401.0
14  3.17  196.0
15  2.36  238.0
16  2.33  269.0
17  2.76  256.0
18  8.97  605.0
19  2.77  246.0
20  3.14  222.0
21  2.47  204.0
22  6.77  356.0
23  7.00  378.0
24  1.69  177.0
25  4.41  263.0
26  8.60  549.0
27  4.71  267.0

In [84]:
'''
!pip uninstall pandas  
!pip install pandas
!pip3 install --upgrade pandas
'''

'\n!pip uninstall pandas  \n!pip install pandas\n!pip3 install --upgrade pandas\n'

In [85]:
import pandas as pd

In [86]:
#Data from web

table=pd.read_html("https://en.wikipedia.org/wiki/President_of_the_United_States")

In [87]:
table

[             President of theUnited States of America  \
 0                                   Presidential seal
 1                                   Presidential flag
 2            IncumbentJoe BidensinceJanuary 20, 2021
 3   Executive branch of the U.S. government Execut...
 4                                               Style
 5                                                Type
 6                                        Abbreviation
 7                                           Member of
 8                                           Residence
 9                                                Seat
 10                                          Appointer
 11                                        Term length
 12                            Constituting instrument
 13                                          Formation
 14                                       First holder
 15                                             Salary
 16                                            Website

            President of theUnited States of America.1
 0                                   Presidential seal
 1                                   Presidential flag
 2            IncumbentJoe BidensinceJanuary 20, 2021
 3   Executive branch of the U.S. government Execut...
 4   Mr. President[1][2](informal) The Honorable[3]...
 5                    Head of state Head of government
 6                                               POTUS
 7   Cabinet Domestic Policy Council National Econo...
 8                                         White House
 9                                    Washington, D.C.
 10                                  Electoral College
 11                         Four years, renewable once
 12                  Constitution of the United States
 13                 June21, 1788(233 years ago)[6][7]
 14                               George Washington[8]
 15                                  $400,000 annually
 16                                 www.whitehouse.gov  ,
                                                     0
 0             This article is part of a series on the
 1                       Politics of the United States
 2   Federal government Constitution of the United ...
 3   Legislature United States Congress  House of R...
 4   Executive President of the United States Joe B...
 5   Judiciary Supreme Court of the United States C...
 6   Elections  National Elections Presidential ele...
 7   Political parties Democratic Republican Third ...
 8   Federalism State State government Governors Le...
 9   Foreign relations Department of State Secretar...
 10              United States portal Politics portal
 11  .mw-parser-output .navbar{display:inline;font-...,
                                              0  \
 0                                          NaN
 1  Problems playing this file? See media help.

                                                    1
 0  Four ruffles and flourishes and 'Hail to the C...
 1        Problems playing this file? See media help.  ,
   Presidential pay history
            Yearestablished              Salary   Salary in2020 USD
 0                     1789             $25,000            $736,000
 1                     1873             $50,000          $1,080,000
 2                     1909             $75,000          $2,135,000
 3                     1949            $100,000          $1,089,000
 4                     1969            $200,000          $1,412,000
 5                     2001            $400,000            $585,000
 6       Sources:[158][159]  Sources:[158][159]  Sources:[158][159],
    Party                Party.1   #  Years  \
 0    NaN             Republican  19     92
 1    NaN             Democratic  15     89
 2    NaN  Democratic-Republican   4     28
 3    NaN                   Whig   4      8
 4    NaN             Federalist   1      4
 5    NaN         National Union   1      4
 6    NaN                   None   1      8

                                              Name(s)
 0  ChesterA.Arthur, GeorgeH.W.Bush, GeorgeW...
 1  Joe Biden, JamesBuchanan, JimmyCarter, Grove...
 2  JohnQuincyAdams, ThomasJefferson, JamesMad...
 3  MillardFillmore, WilliamHenryHarrison, Zach...
 4                                         JohnAdams
 5                                  AndrewJohnson[H]
 6                                  GeorgeWashington  ,
                   vtePresidents of the United States  \
 0                   Presidents and theirpresidencies
 1                               Presidency timelines
 2  * Links to list of related timelines  Category...

                 vtePresidents of the United States.1
 0  .mw-parser-output .div-col{margin-top:0.3em;co...
 1  Washington McKinley T. Roosevelt Taft Wilson H...
 2  * Links to list of related timelines  Category...  ,
    vteLists related to the presidents and vice presidents of the United States  \
 0          List of presidents List of vice presidents
 1                                          Presidents
 2                                 Professionalcareers
 3                                       Personal life
 4                                     Vice presidents
 5                                          Succession
 6                                           Elections
 7                                          Candidates
 8                               Political affiliation
 9                                        Distinctions
 10                                           Families
 11                                Namesakesand honors
 12                                           In media
 13  United States portal  Politics portal  Biograp...

    vteLists related to the presidents and vice presidents of the United States.1
 0          List of presidents List of vice presidents
 1   Age Autobiographies Burial places Death Histor...
 2   Approval rating Assassination attempts and plo...
 3   Ancestry Coats of arms Deaths in office Educat...
 4   Age Burial places Coats of arms Education Home...
 5   Acting president Designated survivor Line of s...
 6   Electoral College margin Popular vote margin W...
 7   Political affiliation Democratic Democratic-Re...
 8   Democratic Democratic-Republican Federalist Gr...
 9   African American Female Received at least one ...
 10  First families First ladies Presidential child...
 11  Memorial sites U.S. postage stamp appearances ...
 12  Portrayals Fictional depictions Line of succes...
 13  United States portal  Politics portal  Biograp...                             ,
                        0                                                  1
 0  Political affiliation  Democratic Democratic-Republican Federalist Gr...
 1           Distinctions  African American Female Received at least one ...,
   vteChief executives of the United States  \
 0                                  Federal
 1            State governors(current list)
 2                Territorial(current list)
 3                                  Defunct

           vteChief executives of the United States.1
 0                President of the United States list
 1  Alabama Alaska Arizona Arkansas California lis...
 2  American Samoa District of Columbia list Guam ...
 3  Cuba Dakota Territory Panama Canal Zone Philip...  ,
              vteUnited States presidential elections  \
 0                                  Elections by year
 1                                 Elections by state
 2                             Primaries and caucuses
 3                             Nominating conventions
 4                  Electoral Collegeand popular vote
 5                                            Related
 6  House elections Senate elections Gubernatorial...

            vteUnited States presidential elections.1
 0  178889 1792 1796 1800 1804 1808 1812 1816 182...
 1  Alabama Alaska Arizona Arkansas California Col...
 2  Iowa caucuses New Hampshire presidential prima...
 3  List of nominating conventions Brokered conven...
 4  Results summary elections in which the winner ...
 5  Campaign slogans Historical election polling E...
 6  House elections Senate elections Gubernatorial...  ,
                        vteUnited States Armed Forces  \
 0   Military budget of the United States  Category...
 1                                          Leadership
 2                                        Organization
 3                                Military departments
 4                          Service branches and heads
 5                                  Reserve components
 6                                Civilian auxiliaries
 7                           Unified combatant command
 8                                           Structure
 9                               Operationsand history
 10   Current deployments Conflicts Wars Civil affairs
 11                                           History:
 12                                           Timeline
 13                                        By ancestry
 14                                    History centers
 15                                        War artists
 16                                          Personnel
 17                                           Training
 18                                           Uniforms
 19                                              Ranks
 20                                              Other
 21                                          Equipment
 22                                               Land
 23                                                Sea
 24                                                Air
 25                                              Other
 26  Legend A = Army MC = Marine Corps N = Navy AF ...

                      vteUnited States Armed Forces.1
 0   Military budget of the United States  Category...
 1   Commander-in-chief: President of the United St...
 2   Military departments Department of Defense (Se...
 3   Department of Defense (Secretary): Department ...
 4   Army (Chief of Staff) Marine Corps (Commandant...
 5         Reserves: A MC N AF CG National Guard: A AF
 6   Military Auxiliary Radio System Marine Corps C...
 7   Africa Central European Indo-Pacific Northern ...
 8   United States Code Title 10 Title 14 Title 32 ...
 9   Current deployments Conflicts Wars Civil affai...
 10   Current deployments Conflicts Wars Civil affairs
 11                                    A MC N AF SF CG
 12                              Colonial World War II
 13  African Americans Asian Americans Buddhist Ame...
 14  Army Center of Military History Marine Corps H...
 15             Army Art Program Air Force Art Program
 16  Training Service academies: A (prep) MC/N (pre...
 17  Service academies: A (prep) MC/N (prep) AF/SF ...
 18  Uniforms: A MC N AF SF CG Awards & decorations...
 19  Officer: A MC N AF SF CG Warrant officers Enli...
 20  Oath: Enlistment Office Creeds & Codes: Code o...
 21  A MC: vehicles weapons other N AF CG Land Indi...
 22  Individual weapons Crew-served weapons Vehicle...
 23  All watercraft Ships: A N (active) AF CG MSC W...
 24  Aircraft World War I active Aircraft designati...
 25  Nuclear football Electronics (designations) Fl...
 26  Legend A = Army MC = Marine Corps N = Navy AF ...  ,
                             0  \
 0        Military departments
 1  Service branches and heads
 2          Reserve components
 3        Civilian auxiliaries
 4   Unified combatant command

                                                    1
 0  Department of Defense (Secretary): Department ...
 1  Army (Chief of Staff) Marine Corps (Commandant...
 2        Reserves: A MC N AF CG National Guard: A AF
 3  Military Auxiliary Radio System Marine Corps C...
 4  Africa Central European Indo-Pacific Northern ...  ,
                                                   0  \
 0  Current deployments Conflicts Wars Civil affairs
 1                                          History:
 2                                          Timeline
 3                                       By ancestry
 4                                   History centers
 5                                       War artists

                                                    1
 0   Current deployments Conflicts Wars Civil affairs
 1                                    A MC N AF SF CG
 2                              Colonial World War II
 3  African Americans Asian Americans Buddhist Ame...
 4  Army Center of Military History Marine Corps H...
 5             Army Art Program Air Force Art Program  ,
           0                                                  1
 0  Training  Service academies: A (prep) MC/N (prep) AF/SF ...
 1  Uniforms  Uniforms: A MC N AF SF CG Awards & decorations...
 2     Ranks  Officer: A MC N AF SF CG Warrant officers Enli...
 3     Other  Oath: Enlistment Office Creeds & Codes: Code o...,
        0                                                  1
 0   Land  Individual weapons Crew-served weapons Vehicle...
 1    Sea  All watercraft Ships: A N (active) AF CG MSC W...
 2    Air  Aircraft World War I active Aircraft designati...
 3  Other  Nuclear football Electronics (designations) Fl...,
                             vteUnited Statesarticles  \
 0                                             History
 1                                            By event
 2                                            By topic
 3                                           Geography
 4   Territory Contiguous United States counties fe...
 5                                            Politics
 6   FederalExecutive Cabinet Civil service Executi...
 7                                             Federal
 8                                           Executive
 9                                         Legislative
 10                                           Judicial
 11                                                Law
 12                                       Intelligence
 13                                          Uniformed
 14  51st state Political status of Puerto Rico Pue...
 15                                            Economy
 16  By sector Agriculture Banking Communications C...
 17                                            Society
 18  Culture Americana Architecture Cinema Crime Cu...
 19                                            Culture
 20                                       Social class
 21                                             Issues
 22  .mw-parser-output .nobold{font-weight:normal}O...

                           vteUnited Statesarticles.1
 0   By event Pre-Columbian era Colonial era Thirte...
 1   Pre-Columbian era Colonial era Thirteen Coloni...
 2   Outline of U.S. history Demographic Discoverie...
 3   Territory Contiguous United States counties fe...
 4   Territory Contiguous United States counties fe...
 5   FederalExecutive Cabinet Civil service Executi...
 6   FederalExecutive Cabinet Civil service Executi...
 7   Executive Cabinet Civil service Executive depa...
 8   Cabinet Civil service Executive departments Ex...
 9   House of Representatives current members Speak...
 10    District courts Courts of appeals Supreme Court
 11  Bill of Rights civil liberties Code of Federal...
 12  Central Intelligence Agency Defense Intelligen...
 13  Armed Forces Army Marine Corps Navy Air Force ...
 14  51st state Political status of Puerto Rico Pue...
 15  By sector Agriculture Banking Communications C...
 16  By sector Agriculture Banking Communications C...
 17  Culture Americana Architecture Cinema Crime Cu...
 18  Culture Americana Architecture Cinema Crime Cu...
 19  Americana Architecture Cinema Crime Cuisine Da...
 20  Affluence American Dream Educational attainmen...
 21  Ages of consent Capital punishment Crime incar...
 22  .mw-parser-output .nobold{font-weight:normal}O...  ,
           0                                                  1
 0  By event  Pre-Columbian era Colonial era Thirteen Coloni...
 1  By topic  Outline of U.S. history Demographic Discoverie...,
                                                    0  \
 0  Territory Contiguous United States counties fe...

                                                    1
 0  Territory Contiguous United States counties fe...  ,
                                                    0  \
 0  FederalExecutive Cabinet Civil service Executi...
 1                                            Federal
 2                                          Executive
 3                                        Legislative
 4                                           Judicial
 5                                                Law
 6                                       Intelligence
 7                                          Uniformed
 8  51st state Political status of Puerto Rico Pue...

                                                    1
 0  FederalExecutive Cabinet Civil service Executi...
 1  Executive Cabinet Civil service Executive depa...
 2  Cabinet Civil service Executive departments Ex...
 3  House of Representatives current members Speak...
 4    District courts Courts of appeals Supreme Court
 5  Bill of Rights civil liberties Code of Federal...
 6  Central Intelligence Agency Defense Intelligen...
 7  Armed Forces Army Marine Corps Navy Air Force ...
 8  51st state Political status of Puerto Rico Pue...  ,
                                                    0  \
 0                                            Federal
 1                                          Executive
 2                                        Legislative
 3                                           Judicial
 4                                                Law
 5                                       Intelligence
 6                                          Uniformed
 7  51st state Political status of Puerto Rico Pue...

                                                    1
 0  Executive Cabinet Civil service Executive depa...
 1  Cabinet Civil service Executive departments Ex...
 2  House of Representatives current members Speak...
 3    District courts Courts of appeals Supreme Court
 4  Bill of Rights civil liberties Code of Federal...
 5  Central Intelligence Agency Defense Intelligen...
 6  Armed Forces Army Marine Corps Navy Air Force ...
 7  51st state Political status of Puerto Rico Pue...  ,
               0                                                  1
 0     Executive  Cabinet Civil service Executive departments Ex...
 1   Legislative  House of Representatives current members Speak...
 2      Judicial    District courts Courts of appeals Supreme Court
 3           Law  Bill of Rights civil liberties Code of Federal...
 4  Intelligence  Central Intelligence Agency Defense Intelligen...
 5     Uniformed  Armed Forces Army Marine Corps Navy Air Force ...,
                                                    0  \
 0  By sector Agriculture Banking Communications C...

                                                    1
 0  By sector Agriculture Banking Communications C...  ,
                                                    0  \
 0  Culture Americana Architecture Cinema Crime Cu...
 1                                            Culture
 2                                       Social class
 3                                             Issues

                                                    1
 0  Culture Americana Architecture Cinema Crime Cu...
 1  Americana Architecture Cinema Crime Cuisine Da...
 2  Affluence American Dream Educational attainmen...
 3  Ages of consent Capital punishment Crime incar...  ,
               0                                                  1
 0       Culture  Americana Architecture Cinema Crime Cuisine Da...
 1  Social class  Affluence American Dream Educational attainmen...
 2        Issues  Ages of consent Capital punishment Crime incar...,
   vteHeads of state and government of North America  \
 0                                    Heads of state
 1                                  Sovereign states
 2                               Heads of government

In [88]:
table[0]

,President of theUnited States of America,President of theUnited States of America.1
0,Presidential seal,Presidential seal
1,Presidential flag,Presidential flag
2,"IncumbentJoe BidensinceJanuary 20, 2021","IncumbentJoe BidensinceJanuary 20, 2021"
3,Executive branch of the U.S. government Execut...,Executive branch of the U.S. government Execut...
4,Style,Mr. President[1][2](informal) The Honorable[3]...
5,Type,Head of state Head of government
6,Abbreviation,POTUS
7,Member of,Cabinet Domestic Policy Council National Econo...
8,Residence,White House
9,Seat,"Washington, D.C."
10,Appointer,Electoral College
11,Term length,"Four years, renewable once"
12,Constituting instrument,Constitution of the United States
13,Formation,"June21, 1788(233 years ago)[6][7]"
14,First holder,George Washington[8]
15,Salary,"$400,000 annually"
16,Website,www.whitehouse.gov

In [89]:
president=pd.read_html("https://en.wikipedia.org/wiki/Elections_in_India",match="LOK SABHA ELECTIONS")

In [90]:
president[0]

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0   First        \
                 Year           Election        Total seats   Party Seats
0    195152[3][4][5]      1st Lok Sabha                489     INC   364
1             1957[6]      2nd Lok Sabha                494     INC   371
2                1962      3rd Lok Sabha                494     INC   361
3                1967      4th Lok Sabha                520     INC   283
4                1971      5th Lok Sabha                518     INC   352
5                1977      6th Lok Sabha                542      JP   298
6                1980      7th Lok Sabha       529 ( 542* )  INC(I)   351
7                1984      8th Lok Sabha                514     INC   404
8                1989      9th Lok Sabha                529     INC   195
9                1991     10th Lok Sabha                521     INC   244
10               1996     11th Lok Sabha                543     BJP   161
11               1998     12th Lok Sabha                545     BJP   182
12               1999     13th Lok Sabha                545     BJP   182
13               2004     14th Lok Sabha                543     INC   145
14               2009     15th Lok Sabha                545     INC   206
15               2014     16th Lok Sabha                545     BJP   282
16               2019     17th Lok Sabha                543     BJP   303

              Second                    Third
     % votes   Party Seats    % votes   Party Seats % votes
0        45%     CPI    16      3.29%     SOC    12  10.59%
1     47.78%     CPI    27      8.92%     PSP    19  10.41%
2     44.72%     CPI    29      9.94%     SWA    18   7.89%
3     40.78%     SWA    44      8.67%     BJS    35   9.31%
4     43.68%     CPM    25      5.12%     CPI    23   4.73%
5     43.17%     INC   153     34.52%     CPM    22   4.29%
6     42.69%  JNP(S)    41      9.39%     CPM    37   6.24%
7     49.10%     TDP    30      4.31%     CPM    22   5.87%
8     39.53%      JD   142     17.79%     BJP    85  11.36%
9     35.66%     BJP   120     20.11%      JD    59  11.84%
10    20.29%     INC   140     28.80%      JD    46  23.45%
11    25.59%     INC   141     25.82%     CPM    32   5.16%
12    23.75%     INC   114     28.30%     CPM    33   5.40%
13    26.53%     BJP   138     22.16%     CPM    43   5.66%
14    28.55%     BJP   116     18.80%      SP    23   3.23%
15    31.34%     INC    44     19.52%  AIADMK    37   3.31%
16  37.4%[7]     INC    52  19.50%[8]     DMK    24   4.24%

In [91]:
type(president)

list

In [92]:



type(president[0])

pandas.core.frame.DataFrame

In [93]:
elections=pd.read_html(r"https://en.wikipedia.org/wiki/Elections_in_India")

In [94]:
elections[0]

                                   Politics of India
0  Federal government Constitution of India Law H...
1  LegislatureParliament of India Lok Sabha Speak...
2  Executive President of India Ram Nath Kovind (...
3  Judiciary Supreme Court of India Chief Justice...
4  Elections General elections 2009 2014 2019 Sta...
5  Political partiesNational coalitions National ...
6  Federalism State Government Governors Legislat...
7                       India portal Other countries
8  .mw-parser-output .navbar{display:inline;font-...

In [95]:
##To extract matching data 'LOK SABHA ELECTIONS'

In [96]:
elections_loksabha=pd.read_html(r"https://en.wikipedia.org/wiki/Elections_in_India",match='LOK SABHA ELECTIONS')

In [97]:
elections_loksabha[0]

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0   First        \
                 Year           Election        Total seats   Party Seats
0    195152[3][4][5]      1st Lok Sabha                489     INC   364
1             1957[6]      2nd Lok Sabha                494     INC   371
2                1962      3rd Lok Sabha                494     INC   361
3                1967      4th Lok Sabha                520     INC   283
4                1971      5th Lok Sabha                518     INC   352
5                1977      6th Lok Sabha                542      JP   298
6                1980      7th Lok Sabha       529 ( 542* )  INC(I)   351
7                1984      8th Lok Sabha                514     INC   404
8                1989      9th Lok Sabha                529     INC   195
9                1991     10th Lok Sabha                521     INC   244
10               1996     11th Lok Sabha                543     BJP   161
11               1998     12th Lok Sabha                545     BJP   182
12               1999     13th Lok Sabha                545     BJP   182
13               2004     14th Lok Sabha                543     INC   145
14               2009     15th Lok Sabha                545     INC   206
15               2014     16th Lok Sabha                545     BJP   282
16               2019     17th Lok Sabha                543     BJP   303

              Second                    Third
     % votes   Party Seats    % votes   Party Seats % votes
0        45%     CPI    16      3.29%     SOC    12  10.59%
1     47.78%     CPI    27      8.92%     PSP    19  10.41%
2     44.72%     CPI    29      9.94%     SWA    18   7.89%
3     40.78%     SWA    44      8.67%     BJS    35   9.31%
4     43.68%     CPM    25      5.12%     CPI    23   4.73%
5     43.17%     INC   153     34.52%     CPM    22   4.29%
6     42.69%  JNP(S)    41      9.39%     CPM    37   6.24%
7     49.10%     TDP    30      4.31%     CPM    22   5.87%
8     39.53%      JD   142     17.79%     BJP    85  11.36%
9     35.66%     BJP   120     20.11%      JD    59  11.84%
10    20.29%     INC   140     28.80%      JD    46  23.45%
11    25.59%     INC   141     25.82%     CPM    32   5.16%
12    23.75%     INC   114     28.30%     CPM    33   5.40%
13    26.53%     BJP   138     22.16%     CPM    43   5.66%
14    28.55%     BJP   116     18.80%      SP    23   3.23%
15    31.34%     INC    44     19.52%  AIADMK    37   3.31%
16  37.4%[7]     INC    52  19.50%[8]     DMK    24   4.24%

In [98]:
pd.read_table("AutoDataset.csv")

   Row ID,Order ID,Ship Date,Customer Name,Country,City,State,Category,Sub-Category,Product Name,Sales
0   2314,CA-2017-122035,7/25/2017,Elizabeth Moffit...
1   2315,CA-2017-122035,7/25/2017,Elizabeth Moffit...
2   2316,CA-2017-122035,7/25/2017,Elizabeth Moffit...
3   2317,CA-2017-122035,7/25/2017,Elizabeth Moffit...
4   2318,CA-2017-122035,7/25/2017,Elizabeth Moffit...
5   2319,CA-2017-122035,7/25/2017,Elizabeth Moffit...
6   2856,CA-2017-169810,7/31/2017,Raymond Buch,Uni...
7   3270,CA-2014-115980,7/19/2014,Victoria Wilson,...
8   3271,CA-2014-115980,7/19/2014,Victoria Wilson,...
9   8150,CA-2014-167997,1/29/2014,Carol Adams,Unit...
10  8151,CA-2014-167997,1/29/2014,Carol Adams,Unit...
11  9261,CA-2017-167976,11/14/2017,Jeremy Lonsdale...

In [99]:
pd.read_table("AutoDataset.csv",sep=",")

,Row ID,Order ID,Ship Date,Customer Name,Country,City,State,Category,Sub-Category,Product Name,Sales
0,2314,CA-2017-122035,7/25/2017,Elizabeth Moffitt,United States,Sioux Falls,South Dakota,Office Supplies,Labels,Avery 486,14.62
1,2315,CA-2017-122035,7/25/2017,Elizabeth Moffitt,United States,Sioux Falls,South Dakota,Office Supplies,Appliances,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",416.32
2,2316,CA-2017-122035,7/25/2017,Elizabeth Moffitt,United States,Sioux Falls,South Dakota,Office Supplies,Binders,Avery Printable Repositionable Plastic Tabs,43.00
3,2317,CA-2017-122035,7/25/2017,Elizabeth Moffitt,United States,Sioux Falls,South Dakota,Furniture,Chairs,Novimex Fabric Task Chair,182.94
4,2318,CA-2017-122035,7/25/2017,Elizabeth Moffitt,United States,Sioux Falls,South Dakota,Office Supplies,Binders,Cardinal Slant-D Ring Binders,60.83
5,2319,CA-2017-122035,7/25/2017,Elizabeth Moffitt,United States,Sioux Falls,South Dakota,Technology,Accessories,Logitech G35 7.1-Channel Surround Sound Headset,389.97
6,2856,CA-2017-169810,7/31/2017,Raymond Buch,United States,Sioux Falls,South Dakota,Office Supplies,Labels,Avery 498,20.23
7,3270,CA-2014-115980,7/19/2014,Victoria Wilson,United States,Sioux Falls,South Dakota,Technology,Accessories,Maxell 4.7GB DVD-R 5/Pack,2.97
8,3271,CA-2014-115980,7/19/2014,Victoria Wilson,United States,Sioux Falls,South Dakota,Office Supplies,Fasteners,Advantus Push Pins,6.54
9,8150,CA-2014-167997,1/29/2014,Carol Adams,United States,Rapid City,South Dakota,Office Supplies,Binders,Wilson Jones 14 Line Acrylic Coated Pressboard...,10.68
10,8151,CA-2014-167997,1/29/2014,Carol Adams,United States,Rapid City,South Dakota,Furniture,Bookcases,"Safco Value Mate Series Steel Bookcases, Baked...",141.96
11,9261,CA-2017-167976,11/14/2017,Jeremy Lonsdale,United States,Aberdeen,South Dakota,Office Supplies,Supplies,Acme Titanium Bonded Scissors,25.50

In [100]:
import os
os.chdir(r"C:\Users\akshaya.srikanth\OneDrive - Accenture\IIT_M\RawData-main\RawData-main")

FileNotFoundError: [WinError 3] The system cannot find the path specified: 'C:\\Users\\akshaya.srikanth\\OneDrive - Accenture\\IIT_M\\RawData-main\\RawData-main'

In [ ]:
os.listdir()

In [ ]:
pd.read_table('Quantitve.base')

In [ ]:
pd.read_spss("HLTH1025_2016.sav")

In [ ]:
#!pip install  pyreadstat

In [ ]:
##Text files

In [ ]:
df=pd.read_csv("Insurance.txt")

In [ ]:
df.head()

In [ ]:
datafwf=pd.read_fwf('test.txt')
datafwf

In [ ]:
datafwf=pd.read_fwf('test.txt',widths=[9,19,16])#width for each col

In [ ]:
datafwf

In [ ]:
pd.read_excel('Order.xlsx')

In [ ]:
#To read data from clipboard
pd.read_clipboard()

### DataFrame Operations



1.) How to read the data from DataFrame using Head or Tail method?
2.) How to perform slicing concept of extract the data from Pandas DataFrame?
3.) When, Why and How You Should Reshape Your DataFrame?
4.) Pandas Set Option for Rows / Columns
5.) How To reset Indices, Rows or Columns From a DataFrame
6.) Uses of DataFrame Info
7.) How to check data variable's type using DataFrame DataTypes method?
8.) What does DataFrame Describe method and why we use it?
9.) How to get all the columns name from Pandas DataFrame?

In [ ]:
df=pd.read_excel("Random Sales Data.xlsx")

In [ ]:
df.head() #by default 1st 5 rows

In [ ]:
df.head(10)

In [ ]:
df.shape

print(f"Total rows:{df.shape[0]} and Total cols:{df.shape[1]}")

In [ ]:
df.head(-1) #returns all rows except the last one

In [ ]:
df.tail()

In [ ]:
df.tail(-1) # displays all rows except the 1st one

To Display columns of a dataframe

In [ ]:
print(df.columns)
print("*****************************************")
print(df.columns.values)
print("*****************************************")
print(df.keys())

In [ ]:
df.columns.values

In [ ]:
df.keys()

In [ ]:
print(df.columns.values.tolist() )

In [ ]:
df.columns.values[0:3] # first three columns

In [ ]:
df.columns.values[::-1] #columns in reverse order

In [ ]:
df[:20:5] # To display every 5 th row

In [ ]:
#to display even rows
df[:: 2]

In [ ]:
df.index.values[:100] # to access row labels of the df

In [ ]:
pd.set_option('display.max_rows',None)# to display all the rows

In [ ]:
df

In [ ]:
pd.set_option('max_rows',None)# to display all rows

In [ ]:
pd.reset_option('max_rows',None)

In [ ]:
df

In [ ]:
pd.get_option("max_colwidth")

In [ ]:
pd.set_option("max_colwidth",100)

In [ ]:
df

In [ ]:
sales=pd.read_excel("Order.xlsx")

In [ ]:
sales.head()

In [ ]:
pd.get_option("max_columns")

In [ ]:
pd.set_option("max_columns",None)

In [ ]:
sales.head()

In [ ]:
pd.reset_option("^display") # to reset all the display settings

In [ ]:
sales.head()

In [ ]:
sales.columns

In [ ]:
sales['Order ID']

In [ ]:
type(sales['Order ID'])

In [ ]:
sales.info()

In [ ]:
sales.describe()

In [ ]:
sales.dtypes

In [ ]:
print(sales['Profit'].dtypes)

In [ ]:
print(sales['Profit'].describe())

In [ ]:
print(sales['Profit'].std())

### Split Excel Data into Worksheet by Column

In [ ]:
df=pd.read_excel("Random Sales Data.xlsx")

In [ ]:
df.head()

In [ ]:
df["Location"].unique()

In [ ]:
print([state for state in df["Location"].unique()])

In [ ]:
#blank template
writer=pd.ExcelWriter("Splited Raw Data.xlsx",engine='xlsxwriter')
for state in df["Location"].unique():
    newdf=df[df['Location'] == state]
    newdf.to_excel(writer,sheet_name=state,index=False)
writer.save()

In [ ]:
!pip install xlsxwriter

## To  Combine Excel Sheets using Python Pandas

In [ ]:
##To acquire the sheet/template names in an excel file

filename= "Splited Raw Data.xlsx"

In [ ]:
pd.ExcelFile(filename).sheet_names

In [ ]:
list(pd.read_excel(filename,None).keys())

In [ ]:
import os
os.getcwd()

In [ ]:
os.chdir(os.environ["UserProfile"]+"\Desktop" )

In [ ]:
os.getcwd()

In [ ]:
os.chdir(r"C:\\Users\\akshaya.srikanth\\OneDrive - Accenture\\IIT_M\\RawData-main\\RawData-main")

In [ ]:
writer=pd.ExcelWriter("CombinedData.xlsx",engine="xlsxwriter")
CombinedData=pd.DataFrame()

In [ ]:
for sheet in pd.ExcelFile(filename).sheet_names:
    df=pd.read_excel(filename,sheet_name=sheet)
    CombinedData = CombinedData.append(df)
CombinedData.to_excel(writer,sheet_name="ConsolidatedData",index=False)
writer.save()
#writer.close()

In [ ]:
import pandas as pd
df=pd.read_csv("SalesData.csv")

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
df.iloc[3]

In [ ]:
df.iloc[[2,3]]

In [ ]:
df2=df.set_index("Product")

In [ ]:
df2.iloc['AA Batteries (4-pack)'] #iloc only deals with integer values

In [ ]:
df2.iloc[0]

In [ ]:
df2.iloc[0,4]

In [ ]:
df.columns

In [ ]:
df.columns.values
df.keys()

In [ ]:
df.loc[df.Product=='AA Batteries (4-pack)',:"Purchase Address"]

In [ ]:
df.info()

In [ ]:
print(df["Price Each"].unique())

In [ ]:
df["Price Each"]=df["Price Each"].astype(float)
#boolean= df["Price Each"] > 3

### Different ways to filter Pandas DataFrame

&- AND
|- OR
~-NOT

In [ ]:
import pandas as pd
df=pd.read_excel("Superstore.xls")

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
df["Sales"]>700

In [ ]:
df[df["Sales"]>700]

In [ ]:
pd.get_option("display.max_rows")

In [ ]:
pd.set_option("display.max_rows",None)

In [ ]:
df

In [ ]:
#Sales between 700-900
df[(df["Sales"]>700) & (df["Sales"]<900)]

In [ ]:
#Length of Product >100

df[df["Product Name"].str.len()>100]

In [ ]:
# State:Florida,Kentucky,sales-700-900

df[((df["State"] == 'Florida') | (df["State"] == 'Kentucky')) & ((df["Sales"]>700) & (df["Sales"]<900))]

In [ ]:
df[(df["State"] != 'Florida') & (df["State"] != 'Kentucky')]

In [ ]:
df[~(df["State"] == 'Florida') & ~(df["State"] == 'Kentucky')]

## Query Method

In [ ]:
df.query("State !=['Kentucky','Florida','California']")

In [ ]:
#Category starts with F and Sales between 100-200

df.query("Sales >=100 & Sales <200 & Category.str.startswith('F').values")

In [ ]:
#retrieve specific column
df[df['Customer Name'].str.startswith("Ad")][["Customer Name","State",'Sales']]

In [ ]:
#Using list comp
df[[x.startswith('Ad') for x in df["Customer Name"]]][["Customer Name","State",'Sales']]

In [ ]:
df[(df["Customer Name"].str.startswith("A"))|(df["Customer Name"].str.startswith("Z"))]

In [ ]:
#filter data based on specific string


df[df['Customer Name'].str.contains("ea")].head()

In [ ]:
#sort values by  customer names


df[~df["Customer Name"].str.startswith("A")].sort_values(by="Customer Name")

In [ ]:
state=["Kentucky","Texas","Nevada","Florida"]

In [ ]:
df[df.State.isin(state)]

In [ ]:
df[~df.State.isin(state)]

In [ ]:
df[df.State.isin(state)]['State'].unique()

In [ ]:
print(sorted(list(df[~df.State.isin(state)]['State'].unique())))

In [ ]:
df.loc[(df.City =="Houston") &(df.Sales>1500)][["Customer Name","Category","Sales","Profit"]]

In [ ]:
##row with largest or smallest value

df.nlargest(5,"Profit")

In [ ]:
df.nsmallest(3,"Sales")

In [ ]:
#lambda method to filter data
df[df.apply(lambda x:x["City"]=="Houston" and x["Category"]=="Technology",axis=1)]

### handle missing values in Pandas

In [ ]:
import pandas as pd,numpy as np

In [ ]:
data=np.array([1,2,4,None,4,5,7])

In [ ]:
data

In [ ]:
data.sum() #error since None is not an integer val

In [ ]:
data1=np.array([1,2,4,np.nan,4,5,7])

In [ ]:
data1

In [ ]:
data1.dtype

In [ ]:
1+np.nan
0*np.nan

In [ ]:
data1.sum()

In [ ]:
np.nansum(data1) #calculates ignoring nan

In [ ]:
np.nanmean(data1)

In [ ]:
np.nanstd(data1)

In [ ]:
np.nanmin(data1)

In [ ]:
np.nanmax(data1)

In [ ]:
np.nancumsum(data1) #cumilative sum

In [ ]:
data1

In [ ]:
data3=pd.Series([1,np.nan,2,None,4])

In [ ]:
data3

In [ ]:
a=pd.Series(range(2,15,3),dtype=int)

In [ ]:
a

In [ ]:
a[0]

In [ ]:
a[4]

In [ ]:
a[4]=None

In [ ]:
a

In [ ]:
st=pd.Series([1,3,4,5,np.nan,None])

In [ ]:
st

In [ ]:
st1=pd.Series(["a",3,4,5,np.nan,None])

In [ ]:
st1

In [ ]:
pd.Series([True,False,np.nan])

## Several Ways To Handle Missing Value

### Methods for handling missing values

#### isnull()- Generates a boolean mask for data values
True-Indicating missing values in the data.

False:No missing values in the given data.

#### notnull()- opp of isnull
True-Indicating no  values in the data.

False:Indicates missing or null values in the given data.
 

#### fillna()- returns a copy of data filled or imputed the missing val

#### dropna():Dropping missing values at row level

In [ ]:
#isnull()-generates a boolean mask for data values
True-Indicating missing values
False:No missing values

In [ ]:
data=pd.Series([3,4,np.nan,"Python",None])

In [ ]:
data

In [ ]:
data.isnull()

In [ ]:
data.notnull()

In [ ]:
data[data.isnull()]

In [ ]:
data[data.notnull()]

In [ ]:
data1=pd.Series([1,3,4,None,np.nan,""," ","None"])

In [ ]:
data1

In [ ]:
data1.isnull()

In [ ]:
order=pd.read_csv("unbill_data.csv")

In [ ]:
order.shape

In [ ]:
order.head(2)

In [ ]:
order.isnull().sum() # total missing values in each col

In [ ]:
order.isnull().sum()/len(order) *100 #Percentage of missing value

In [ ]:
 order["UnbilledDays"].isnull().sum()

In [ ]:
data=pd.Series([4.5,6,np.nan,"ABC",None])

In [ ]:
data

In [ ]:
data.dropna()

In [ ]:
df=pd.DataFrame([[1,np.nan,3],[3,5,6],[None,8,9]],columns=list("ABC"))

In [ ]:
df

In [ ]:
df.dropna()

In [ ]:
df.dropna(axis="columns") #by default axis =rows

In [ ]:
df.dropna(axis=1,how="all") #1:columns and 0:rows
#how=all represents to drop the col if all the values are missing

In [ ]:
df.dropna(axis=1,how="any")

In [ ]:
df.dropna(how="all")

In [ ]:
df.info()

In [ ]:
df.dropna(axis="rows",thresh=3)
#thresh- minimum no of non-missing values for particular axis

In [ ]:
df.dropna(axis="rows",thresh=1)

In [ ]:
df.dropna(axis="columns",thresh=3)

In [ ]:
df.dropna(axis="columns",thresh=2)

In [ ]:
order.shape

In [ ]:
order1=order.dropna()

In [ ]:
order1.shape

In [ ]:
order2=order.dropna(axis=1)

In [ ]:
order2.shape

In [ ]:
order.isnull().sum()

In [ ]:
order3=order.dropna(axis="columns",thresh=30000)

In [ ]:
order3.isnull().sum()

In [ ]:
order4=order.dropna(axis="rows",thresh=10)

In [ ]:
order4.shape

## Impute the Missing values

#ffill- forward fill

bfill - backward fill

In [ ]:
data

In [ ]:
data.fillna(method="ffill")

In [ ]:
data.fillna(method="bfill")

In [ ]:
df

In [ ]:
df.fillna(method="ffill",axis="columns")

In [ ]:
#Applying both fwd and bwd fills
df.fillna(method="ffill",axis="columns").fillna(method="bfill",axis="columns")

In [ ]:
df.fillna(method="ffill",axis="rows")

In [ ]:
df.fillna(method="ffill",axis="rows").fillna(method="bfill",axis="rows")

In [ ]:
e_bill=pd.Series([200,250,np.nan,280,320,350,400,500,600],
                 ["Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov"])

In [ ]:
e_bill

In [ ]:
e_bill.fillna(method="ffill")

In [ ]:
e_bill.fillna(e_bill[1]+e_bill[3]/2)

In [ ]:
order.head()

In [ ]:
order["UnbilledDays"].isnull().sum()

In [ ]:
order["UnbilledDays"].dtypes

In [ ]:
#if null will be replaced by median or  same val
order["UnbilledDays_New"]=np.where(order["UnbilledDays"].isnull(),
                                  order["UnbilledDays"].median(),order["UnbilledDays"])

In [ ]:
order[order["UnbilledDays"].isnull()].head()

In [ ]:
order[order["UnbilledDays"].notnull()].head()

##  Pandas Concat and Append Method

In [ ]:
df1=pd.read_clipboard()

In [ ]:
df1

In [ ]:
df1.shape

In [ ]:
df2=pd.read_clipboard()

In [ ]:
df2.head()

In [ ]:
df1.append(df2,ignore_index=True)

In [ ]:
df1.keys()

In [ ]:
#  Dataframe with diff columns

In [ ]:
cust=pd.read_clipboard()

In [ ]:
cust.shape

In [ ]:
cust.head()

In [ ]:
cust.keys()

In [ ]:
df2.append(cust)

In [ ]:
cust.append(df2)

In [ ]:
df2.append(cust,sort=True)

In [ ]:
df2.append(cust,sort=True).fillna("No Value")

In [ ]:
Newdf=df1.append([df2,cust],ignore_index=True)

In [ ]:
Newdf.shape

In [ ]:
Newdf.head()

## Combining Dataframes using concat method

In [ ]:
df=pd.read_clipboard()

In [ ]:
df.head()

In [ ]:
df1=pd.read_clipboard()
df1.head()

In [ ]:
pd.concat([df,df1])

In [ ]:
pd.concat([df,df1],ignore_index=True)

In [ ]:
##Renaming columns

df.rename(columns={"Name":"Student Name"},inplace=True)
df.head()

In [ ]:
pd.concat([df,df1]) # column labels shd be matching  for concat and append function

In [ ]:
df.rename(columns={"Student Name":"Name"},inplace=True)
df.head()

In [ ]:
ConcatDf= pd.concat([df,df1],keys=["SecA","SecB"])

In [ ]:
ConcatDf

In [ ]:
pd.concat([df,df1],axis=1)

In [ ]:
pd.concat([df,df1],axis=1,keys=["SecA","SecB"])

In [ ]:
pd.concat([df,df1]) #by default rowwise concat

In [ ]:
## only matching rows
pd.concat([df,df1],join="inner")

In [ ]:
pd.concat([df,df1],join="outer")

In [ ]:
import warnings
warnings.filterwarnings("ignore")
df["ID"][0]="A105"

In [ ]:
df.set_index("ID",inplace=True)

In [ ]:
df1.set_index("ID",inplace=True)

In [ ]:
df.head()

In [ ]:
df1.head()

In [ ]:
pd.concat([df,df1])

In [ ]:
try:
    pd.concat([df,df1],verify_integrity=True)
except ValueError as e:
    print("Value Error:",e)

### Joining and Merging Pandas DataFrame

In [ ]:
help(pd.merge)

Types of Merges:

    Inner Join
    
    OUter Join |Full Outer JOIn
    
    Left Join |Full Left JOIn
    
    Right JOinn|Full Right JOIn
    
    Cross Join

In [ ]:
order=pd.read_excel("Sales Order.xlsx",sheet_name="Orders")
returns=pd.read_excel("Sales Order.xlsx",sheet_name="Returns")

In [ ]:
print(order.shape)
print(returns.shape)

In [ ]:
order.head()

In [ ]:
returns.head()

In [ ]:
inner_join=pd.merge(left=order,right=returns,left_on="Order ID" ,right_on="Order ID")

In [ ]:
inner_join.shape

In [ ]:
#Since both the tables have same column name lefton and right on  could be bypassed and specified under on

inner_join=pd.merge(left=order,right=returns,on="Order ID")

In [ ]:
inner_join.shape

In [ ]:
#left and right table specs are optional-instead  just table names can be used
inner_join=pd.merge(order,returns,on="Order ID")

In [ ]:
inner_join.shape

In [ ]:
# To determine the number of matching rows for both tables
order["Order ID"].isin(returns["Order ID"]).value_counts()

In [ ]:
returns.rename(columns={"Invoice ID":"Order ID"},inplace=True)

In [ ]:
#by default how is taken as inner join if not specified
inner_join=pd.merge(order,returns,on="Order ID",how="inner")

In [ ]:
inner_join.shape

In [ ]:
## If the return table Order ID is renamed to Invoice ID
returns.rename(columns={"Order ID":"Invoice ID"},inplace=True)

In [ ]:
returns.head()

In [ ]:
inner_join=pd.merge(order,returns,left_on="Order ID",right_on="Invoice ID")

In [ ]:
inner_join.shape

In [ ]:
inner_join.head()

In [ ]:
#To modify the suffix on the resultant data
inner_join=pd.merge(order,returns,left_on="Order ID",right_on="Invoice ID",suffixes=["_OrderT","_ReturnsT"])

In [ ]:
inner_join.shape

In [ ]:
inner_join.head()

In [ ]:
#Joining on two columns

inner_join=pd.merge(order,returns,left_on=["Order ID","City"],right_on=["Invoice ID","City"],suffixes=["_OrderT","_ReturnsT"])

inner_join.shape

In [ ]:
inner_join.head()

In [ ]:
#Indicator returns  if the matching is done  on both tables or one table

inner_join=pd.merge(order,returns,left_on=["Order ID","City"],right_on=["Invoice ID","City"],suffixes=["_OrderT","_ReturnsT"],
                    indicator=True)
inner_join.shape

In [ ]:
inner_join.head()

In [ ]:
inner_join._merge.value_counts() # to get the stats of how many rows are matched on both/left/right tables

In [ ]:
print(order.shape,returns.shape)

In [ ]:
leftjoin=pd.merge(order,returns,on="Order ID",how="left",indicator=True)

In [ ]:
leftjoin.shape

In [ ]:
leftjoin._merge.value_counts()

In [ ]:
rightjoin=pd.merge(order,returns,on="Order ID",how="right",indicator=True)

In [ ]:
rightjoin.shape

In [ ]:
rightjoin._merge.value_counts()

In [ ]:
fulljoin=pd.merge(order,returns,on="Order ID",how="outer",indicator=True)

In [ ]:
fulljoin.shape

In [ ]:
5000+2000-89

In [ ]:
fulljoin._merge.value_counts()

In [ ]:
#Deriving other joins from full join

fulljoin[fulljoin._merge.isin(['both','left_only'])].shape #left join

In [ ]:
fulljoin[fulljoin._merge.isin(['both','right_only'])].shape #Right join

In [ ]:
fulljoin[fulljoin._merge.isin(['both'])].shape #Inner join

In [ ]:
#Cross Join

crossjoin=pd.merge(order[:5],returns[:5],how="cross",indicator=True)

In [ ]:
crossjoin.shape

In [ ]:
crossjoin._merge.value_counts()

In [ ]:
crossjoin.head()

In [ ]:
df1=pd.DataFrame([1,2,3,4])
df2=pd.DataFrame(["A","B","C","D"])

In [ ]:
pd.merge(df1,df2,how="cross")

In [ ]:
emp=pd.read_clipboard()

In [ ]:
emp.head()

In [ ]:
emp.set_index("EmpID",inplace=True)

In [ ]:
emp.head()

In [ ]:
salary=pd.read_clipboard()

In [ ]:
salary.set_index("EmpID",inplace=True)

In [ ]:
#merging df's based on index
pd.merge(emp,salary,left_index=True,right_index=True)

In [ ]:
#resetting index on salary dataframe
salary=salary.reset_index()
salary.head()

In [ ]:
#Merging based on index of one DF and column val of another

empsal=pd.merge(emp,salary,left_index=True,right_on="EmpID")

In [ ]:
empsal

In [ ]:
#Merging more than 2 DF's
city=pd.read_clipboard()
city.head()

In [ ]:
empsal=pd.merge(emp,salary,left_index=True,right_on="EmpID")
empsal.merge(city,on="EmpID")